# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# Partition (커스텀 파티션 테이블)
CONFIG_PARTITION_TABLE_CUSTOM=y

# CPU
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y

# PSRAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y

# Bluetooth Classic (BLE 꺼짐)
CONFIG_BT_ENABLED=y
CONFIG_BT_CLASSIC_ENABLED=y
CONFIG_BT_BLE_ENABLED=n
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=y
CONFIG_BTDM_CTRL_MODEM_SLEEP=n

# 코어 분리: BT → Core 0, WiFi → Core 1
CONFIG_BT_BLUEDROID_PINNED_TO_CORE_0=y
CONFIG_BTDM_CTRL_PINNED_TO_CORE_0=y
CONFIG_ESP_WIFI_TASK_PINNED_TO_CORE_1=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# 코어덤프 → Flash
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y

# 로그 타임스탬프 → 시스템 시간
CONFIG_LOG_TIMESTAMP_SOURCE_SYSTEM=y

# 스택 오버플로우 워치포인트
CONFIG_FREERTOS_WATCHPOINT_END_OF_STACK=y

# 스택 스매싱 보호
CONFIG_COMPILER_STACK_CHECK_MODE_STRONG=y
